@import '../../shared/styles/variables';

$bg-color: #f1fff0;

.pricing {
  background: linear-gradient($main-bg-top, $bg-color);

  td {
    &:first-child {
      font-weight: bold;
    }

    &:not(:last-child) {
      white-space: nowrap;
    }

    &:last-child {
      min-width: 350px;
    }
  }
}
