@import "../../../shared/styles/variables";

.mobile {
  flex-direction: column;

  .carousel {
    .carousel-inner,
    .carousel-item {
      height: 100%;
      width: 100%;

      img {
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }
  }

  .logo {
    max-width: 100%;
  }
}
