@import "../../shared/styles/variables";
@import "../../shared/styles/whiteframes";

.contact {
  .contact-image {
    height: 100%;
    left: 0;
    object-fit: cover;
    position: fixed;
    top: 80px;
    width: 100%;
    z-index: -1;
  }

  .contact-content {
    background-color: $white;
    border-radius: $border-radius;
    box-shadow: $whiteframe-shadow-8dp;
    width: 100%;
    z-index: 1;

    @media (min-width: $breakpoint-sm) {
      width: auto;
    }
  }
}
