@import "../../shared/styles/variables";

.home {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: relative;
  width: 100%;
  z-index: 0;

  &:before {
    background-color: rgba($black, 0.75);
    background-image: url("/assets/home/texture.png");
    background-repeat: repeat;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0.5;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
  }

  .carousel {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;

    .carousel-inner,
    .carousel-item {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  // Content Boxes
  .content {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 32px;

    .logo {
      max-width: 100%;
    }
  }

  .other {
    bottom: 32px;
    position: absolute;
    right: 32px;

    .nav-link {
      font-size: .75rem;
    }
  }

  // Navs
  nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;

    &.socials {
      flex-flow: row nowrap;

      a {
        min-width: 32px;
        min-height: 32px;
      }
    }
  }

  nav + nav {
    @media (min-width: 1024px) {
      margin-top: 50px;
    }
  }

  // Links
  .nav-link {
    align-items: center;
    border-radius: $border-radius;
    color: $white;
    display: flex;
    font-family: "Montserrat", open-sans, sans-serif;
    font-weight: 100;
    justify-content: center;
    letter-spacing: 1px;
    margin: 0.25em;
    padding: 0.25em 0.5em;
    text-shadow: 1px 1px 2px rgba(#000, 0.5);
    text-transform: uppercase;
    transition: all ease-in-out 0.3s;

    @media (min-width: 1024px) {
      margin: 0.5em 1em;
      padding: 0.5em 1em;
    }

    &:hover {
      background-color: $white;
      color: $black;
    }
  }
}
