@import '../../shared/styles/variables';

.home {
  align-items: stretch;
  display: grid;
  grid-template-areas: 
    "socials"
    "content"
    "other";
  grid-template-columns: auto;
  grid-template-rows: 48px auto 56px;
  height: 100vh;
  justify-items: stretch;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 0;

  // Video
  #background {
    bottom: 0;
    height: 100%;
    left: 0;
    min-height: 56.25vw; /* 100 * 9 / 16 */
    min-width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 177.77777778vh; /* 100 * 16 / 9 */
    z-index: -1;

    source {
      height: 100vh;
      width: 100%;
    }
  }

  // Main
  main {
    align-items: center;
    display: flex;
    grid-area: content;
    height: 100%;
    justify-content: center;
    width: 100%;
    z-index: 1;
  }

  // Navs
  nav {
    align-items: center;
    display: flex;
    justify-content: center;
    z-index: 1;

    &.socials {
      grid-area: socials;

      a {
        min-width: 32px;
        min-height: 32px;
      }
    }

    &.other {
      grid-area: other;
      display: flex;
    }
  }

  // Links
  .nav-link {
    align-items: center;
    border-radius: $border-radius;
    color: $white;
    display: flex;
    font-family: "Montserrat", open-sans, sans-serif;
    font-weight: 100;
    justify-content: center;
    letter-spacing: 1px;
    margin: 0.25em;
    padding: 0.25em 0.5em;
    text-shadow: 1px 1px 2px rgba(#000, 0.5);
    text-transform: uppercase;
    transition: all ease-in-out 0.3s;

    @media (min-width: 1024px) {
      margin: 0.5em 1em;
      padding: 0.5em 1em;
    }

    &:hover {
      background-color: $white;
      color: $black;
    }
  }
}
