@import '../../shared/styles/variables';

footer {
  $spacing: 86px;
  background: #121212;
  padding-top: $spacing;
  padding-bottom: $spacing;
  color: $white;

  .brand {
    filter: invert(60%);
  }
}