@import "../../shared/styles/variables";

header {
  background-color: #fff;
  font-family: montserrat, sans-serif;
  font-weight: 300;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  text-transform: uppercase;
  top: 0;
  z-index: 2000;
}
