@import "../../shared/styles/variables";
@import "../../shared/styles/whiteframes";

.cover-image {
  cursor: pointer;
  position: relative;
  user-select: none;

  .image {
    box-shadow: $whiteframe-shadow-16dp;

    img {
      transform: scale(1.05);
      transition: all ease-in-out 300ms;
    }
  }

  &:hover {
    img {
      transform: scale(1);
    }
  }

  .cover-image-content {
    margin-top: 16px;
    user-select: none;

    @media (min-width: 768px) {
      color: $white;
      display: flex;
      flex-flow: column nowrap;
      height: 100%;
      justify-content: center;
      left: 0;
      margin: 0;
      padding: 64px;
      position: absolute;
      text-shadow: 1px 2px 4px #000;
      top: 0;
      width: 100%;
    }

    label {
      font-size: 0.8em;
      font-weight: bold;
      letter-spacing: 3px;
      text-transform: uppercase;
    }
  }
}
