@import "variables";

body {
  font-family: open-sans, sans-serif;
  font-weight: 300;
}

/* Fonts */
.font-house {
  font-family: house-slant, sans-serif !important;
}
.font-montserrat {
  font-family: montserrat, sans-serif !important;
}
.font-open-sans {
  font-family: open-sans, sans-serif !important;
}

/* Headings */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  display: block;
  font-family: montserrat, sans-serif;
  font-weight: 300;
  // padding-bottom: 1em;
  // position: relative;

  // &:before {
  //   background-color: rgba($primary, 0.25);
  //   border-radius: 1px;
  //   bottom: 0;
  //   content: "";
  //   height: 2px;
  //   left: 0;
  //   position: absolute;
  //   width: 35%;
  //   transform: translateY(-50%);
  // }

  // &.text-center:before,
  // .text-center &:before {
  //   left: 50%;
  //   transform: translateX(-50%);
  // }

  // &.text-right:before,
  // .text-right &:before {
  //   left: unset;
  //   right: 0;
  // }
}
