@import "variables";

body {
  font-family: open-sans, sans-serif;
  font-weight: 300;
}

/* Fonts */
.font-house {
  font-family: house-slant, sans-serif !important;
}
.font-montserrat {
  font-family: montserrat, sans-serif !important;
}
.font-open-sans {
  font-family: open-sans, sans-serif !important;
}

/* Headings */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  display: block;
  font-family: montserrat, sans-serif;
  font-weight: 300;
}

body p {
  font-size: 1.25rem;
  line-height: 2.25rem;
}