.navbar {
  .nav-link {
    border-radius: 3px;
    padding: 8px 12px;

    &:hover {
      background-color: rgba($primary, 0.12);
    }
  }

  .container > & {
    padding-left: 0;
    padding-right: 0;
  }
}
