$primary: rgba(#78a8d8, .87);
$secondary: rgba(#f1a864, .87);
$tertiary: rgba(#774d37, .87);
$background: #ffefe0;
$main-bg-top: #ffffff;

$border-radius: 5px;

$black: rgba(#000, .87);
$white: rgba(#fff, .87);