// Colors
$black: rgba(#000, .87);
$white: rgba(#fff, .87);
$primary: rgba(#78a8d8, .87);
$secondary: rgba(#f1a864, .87);
$tertiary: rgba(#774d37, .87);

// Backgrounds
$background: #ffefe0;
$light-bg-top: #ffffff;
$dark-bg-top: #212121;

// Header
$header-height: 80px;

// Borders
$border-radius: 5px;

// Breakpoints
$breakpoint-xs: 575.98px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1500px;