.home {
  .splash {
    align-items: flex-start;
    background-image: url("/assets/images/ThisChristography-20190323-001.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: row nowrap;
    height: 100vh;
    justify-content: center;
    padding: 32px;
    width: 100%;

    @media (min-width: 768px) {
      background-image: url("/assets/images/ThisChristography-20190323-002.jpg");
    }
    
  }

  img {
    max-width: 100%;
  }

  a.image {
    border: none;
    width: 100%;

    &:hover img {
      box-shadow: 1px 2px 6px rgba(48, 95, 123, 0.5);
    }

    img {
      border-radius: 5px;
    }
  }
}
