@import '../../shared/styles/variables';

$bg-color: #f8f0ff;

.weddings {
  background: linear-gradient($light-bg-top, $bg-color);

  .cover {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 50vh;
    position: relative;
    width: 100%;
    margin-bottom: 2px;
    
    img {
      height: 100%;
      left: 2px;
      object-fit: cover;
      position: absolute;
      top: 0;
      width: calc(100% - 6px);
      z-index: 0;
      opacity: 0.6;
    }

    .content {
      padding: 64px 32px;
      text-align: center;
      z-index: 1;

      h1 {
        font-weight: 500;
        max-width: 1200px;
      }
    }
  }

  img {
    border-radius: $border-radius;
  }
  
  .react-photo-gallery--gallery {
    img {
      opacity: 0.75;
      transition: all ease-in-out 300ms;

      &:hover {
        opacity: 1;
      }
    }
  }
}
