header {
    background-color: #fff;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.12);
    font-family: montserrat, sans-serif;
    font-weight: 300;
    height: 64px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    text-transform: uppercase;
    top: 0;
    width: 100%;
    z-index: 10000;
}

header .container {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

header .logo {
    background-image: url('/assets/logos/icon.png');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100px;
}

header a {
    border: none;
    transition: all ease-in-out 150ms;
}

header a:hover {
    border: none;
    background-color: #eff9ff;
    color: #305f7b;
}

header nav {
    height: 100%;
}

header nav a {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 0 8px;
}

@media (min-width: 968px) {
    header {
        height: 80px;
    }

    header .logo {
        background-image: url('/assets/logos/logo.png');
        width: 250px;
    }
}