@import '../../shared/styles/variables';
@import '../../shared/styles/whiteframes';

$bg-color: #080808;

.automotive {
  background: linear-gradient($dark-bg-top, $bg-color);
  color: $white;

  .cover {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 50vh;
    position: relative;
    width: 100%;
    margin-bottom: 2px;
    
    img {
      height: 100%;
      left: 2px;
      object-fit: cover;
      position: absolute;
      top: 0;
      width: calc(100% - 6px);
      z-index: 0;
    }

    .content {
      padding: 16px;
      text-align: center;
      z-index: 1;
    }
  }

  img {
    border-radius: $border-radius;
  }
  
  .react-photo-gallery--gallery {
    img {
      opacity: 0.75;
      transition: all ease-in-out 300ms;

      &:hover {
        opacity: 1;
      }
    }
  }
}
