@import "../../shared/styles/variables";
@import "../../shared/styles/whiteframes";

$pad: 16px;
$btn-size: 36px;

#image-viewer {
  background-color: rgba($white, 0.95);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  user-select: none;
  width: 100vw;
  z-index: 7000;

  // Buttons
  .btn-close,
  .btn-prev,
  .btn-next {
    background-color: $primary;
    border-radius: 50%;
    border: none;
    box-shadow: $whiteframe-shadow-6dp;
    color: $black;
    font-size: 24px;
    height: $btn-size;
    outline: none !important;
    position: absolute;
    width: $btn-size;
    z-index: 7010;
  }

  .btn-close {
    top: $pad;
    right: $pad;
  }

  .btn-prev,
  .btn-next {
    top: 50%;
    transform: translateY(-50%);
  }

  .btn-prev {
    left: $pad;
  }

  .btn-next {
    right: $pad;
  }
}
