@import '../../shared/styles/variables';
@import './index';

// Images
.viewer-image-container {
  bottom: $pad + ($btn-size / 2);
  opacity: 0;
  left: $pad + ($btn-size / 2);
  position: absolute;
  right: $pad + ($btn-size / 2);
  top: $pad + ($btn-size / 2);
  user-select: none;
  z-index: 7001;
  transition: opacity ease-in-out 300ms;

  &.active {
    opacity: 1;
  }

  .viewer-image {
    border-radius: $border-radius;
    height: 100%;
    object-fit: contain;
    width: 100%;
    z-index: 7002;
  }
}
