@import './index';

// Images
.viewer-image-container {
  bottom: $pad;
  left: $pad;
  position: absolute;
  right: $pad;
  top: $pad;
  user-select: none;
  z-index: 7001;

  .viewer-image {
    display: none;
    object-fit: contain;
    height: 100%;
    width: 100%;
    z-index: 7002;

    &.active {
      display: inline-block;
    }
  }
}
