// Video
.desktop {
  align-items: center;
  display: flex;
  justify-content: center;

  #background {
    bottom: 0;
    height: 100%;
    left: 0;
    min-height: 56.25vw; /* 100 * 9 / 16 */
    min-width: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 177.77777778vh; /* 100 * 16 / 9 */
    z-index: -1;
  
    source {
      height: 100vh;
      width: 100%;
    }
  }
}
