@import "../../../shared/styles/variables";

// Video
.desktop {
  #background {
    height: 100%;
    min-height: 56.25vw; /* 100 * 9 / 16 */
    min-width: 100%;
    width: 177.77777778vh; /* 100 * 16 / 9 */
  }
}
