
*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: open-sans, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-family: house-slant, sans-serif;
    font-weight: 300;
}

/* Links */
a,
a:visited,
a:active {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: rgba(0, 0, 0, 0.12);
}

a:hover {
    border-bottom-style: solid;
}

/* Main */
main {
    background-color: #eff9ff;
    color: #305f7b;
}

/* Sections */
section {
    padding-bottom: 128px;
    padding-top: 128px;
}

section h1 {
    font-size: 3em;
}

section + section {
    border-top: 1px solid #aacce0;
}

/* Container */
.container {
    height: 100%;
    margin: 0 auto;
    max-width: 100%;
    padding-left: 32px;
    padding-right: 32px;
}

@media (min-width: 768px) {
    .container {
        width: 700px;
    }
}

@media (min-width: 1024px) {
    .container {
        width: 960px;
    }
}

/* Paragraphs */
p {
    font-size: 1.2em;
    line-height: 1.5em;
}