// Packages
@import "~bootstrap/scss/bootstrap";

// Site
@import "./shared/styles/overrides";
@import "./shared/styles/variables";
@import "./shared/styles/navbars";
@import "./shared/styles/copy";

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  color: $primary;
  margin: 0;
  padding: 0;
  width: 100%;
}


/* Links */
a,
a:visited,
a:active {
  color: inherit;
  cursor: pointer;
  text-decoration: none !important;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: rgba($primary, 0.25);

  &:hover {
    border-bottom-style: solid;
  }

  nav & {
    border: none !important;
  }
}

/* Sections */
section {
  & + & {
    margin-top: 128px;

    @include media-breakpoint-up(xl) {
      margin-top: 256px;
    }
  }

  &:last-of-type {
    margin-bottom: 64px;

    @include media-breakpoint-up(xl) {
      margin-bottom: 128px;
    }
  }
}

/* Paragraphs */
p {
  font-size: 1.2em;
  line-height: 1.5em;
}

/* Images */
img {
  max-width: 100%;
}

/* Icons */
[class*="fa-"] {
  width: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}
