@import "./shared/styles/variables";
@import "./shared/styles/navbars";
@import "~bootstrap/scss/bootstrap";
@import "./shared/styles/overrides";

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: open-sans, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Fonts */
.font-house {
  font-family: house-slant, sans-serif !important;
}
.font-montserrat {
  font-family: montserrat, sans-serif !important;
}
.font-open-sans {
  font-family: open-sans, sans-serif !important;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: house-slant, sans-serif;
  font-weight: 300;
}

/* Links */
a,
a:visited,
a:active {
  color: inherit;
  cursor: pointer;
  text-decoration: none !important;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: rgba($primary, 0.25);

  &:hover {
    border-bottom-style: solid;
  }

  nav & {
    border: none !important;
  }
}

/* Sections */
section {
  padding-bottom: 128px;
  padding-top: 128px;

  & + & {
    border-top: 1px solid $hr-color;
  }
}

/* Paragraphs */
p {
  font-size: 1.2em;
  line-height: 1.5em;
}

/* Images */
img {
  max-width: 100%;
}

/* Icons */
[class*="fa-"] {
  width: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}
