@import "../../shared/styles/variables";
@import "../../shared/styles/whiteframes";

.portrait {
  font-size: 0;

  .portrait-link {
    border: none;
    display: inline-block;
    opacity: 1;
    transition: all ease-in-out 300ms;
    width: 100%;

    img {
      transform: scale(1.05);
      transition: all ease-in-out 300ms;
    }

    &:hover {
      img {
        transform: scale(1);
      }
    }
  }

  &:last-child {
    @media (max-width: 992px) {
      display: none;
    }
  }
}
